<?xml version="1.0" encoding="utf-16"?>
<!DOCTYPE root [<!ELEMENT test ANY>
<!ATTLIST test id ID #REQUIRED>
 

]>
<root id="-1">
  <test id="1067" key="dd3e0172-9f0c-4e0b-90bf-167830f480ba" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-12T23:04:29" updateDate="2016-08-12T23:08:10" nodeName="test" urlName="test" path="-1,1067" isDoc="" nodeType="1066" creatorName="Erik Simonic" writerName="Erik Simonic" writerID="0" template="1065" nodeTypeAlias="test">
    <rte><![CDATA[<p><img style="width: 500px; height: 209.30232558139537px;" src="/media/1014/spectacle__3440x1440__by_starl0rd84-d8krny2.png?width=500&amp;height=209.30232558139537" alt="" rel="1064" data-id="1064" /></p>
<p> </p>
<p>asdas</p>]]></rte>
  </test>
</root>